<div class="new-comment">
      <div class="card">
        <div class="card-header">
          {{title}}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{text}}</p>
            <footer class="blockquote-footer">{{key_phrase}}</footer>
          </blockquote>
        </div>
        <div class="comment">
          {{#if comments}}
            <h5>Comments</h5>
            {{#each comments}}
              <p>{{this}}</p>
            {{/each}}
          {{else}}
          <p>No Comments on this Post</p>
          {{/if}}
        </div>
        <div class="form-group">
          <label class="comment-label" for="exampleComment">Comment</label>
          <input class="form-control comment-card" id="exampleComment" placeholder="Comment Text Here">
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </div>

</div>

    <script src="/js/blog.js"></script>