<div class="new-comment">
      <div class="card">
        <div class="card-header">
          {{title}}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{text}}</p>
            <footer class="blockquote-footer">{{key_phrase}}</footer>
            <p class="user-date">Created by {{user.name}} on {{format_date date_created}}
          </blockquote>
        </div>
        <div class="comment">
          {{#if comments}}
            <h5>Comments</h5>
            {{#each comments}}
            <div class="delete-comment" data_id="{{this.id}}">
              <p>{{this.comment_text}} - {{this.user.name}} on {{format_date this.date_created}} <button class="btn btn-primary delete-comment-button">Delete</button></p>
            </div>
            {{/each}}
          {{else}}
          <p>No Comments on this Post</p>
          {{/if}}
        </div>
        <form class="form-group post-comment">
          <label class="comment-label" for="exampleComment">Comment</label>
          <input class="form-control comment-card" id="exampleComment" placeholder="Comment Text Here">
          <div class="post-button">
          <button type="submit" class="btn btn-primary">Post Comment</button>
          </div>
        </div>
      </form>

</div>
<script src="/js/comment.js"></script>
<script src="/js/deletecomment.js"></script>